---
title: About Us
date: 2015-11-17 01:00:51
layout: page
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
  <!-- BEGIN CONTENT -->
  <div class="col-md-12 col-sm-12">
    <div class="content-page">
      <div class="row margin-bottom-30">
	<!-- BEGIN INFO BLOCK -->               
	<div class="col-md-7">
		<h2 class="no-top-space">合肥学院开源社区</h2>
	  <p>合肥学院开源社区(HFUU OSC)创建于2018年2月，是由合肥学院在校开源技术爱好者和 GNU/Linux 爱好者组成的开源技术社区，旨在传播开源文化，构建开源项目，分享开源精神。</p> 
		<p>HFUUOSC is created at Feb,2018. It is an open-source community consists of students in Hefei University who love technology and GNU/Linux, it aims to disseminate open-source cultural, build open-source projects and share open-source spirit.</p>
		<!-- BEGIN LISTS -->
	  <div class="row front-lists-v1">
	    <div class="col-md-6">
	      <ul class="list-unstyled margin-bottom-20">
		<li><i class="fa fa-check"></i> 技术交流</li>
		<li><i class="fa fa-check"></i> 项目开发</li>
		<li><i class="fa fa-check"></i> 志愿翻译</li>
	      </ul>
	    </div>
	    <div class="col-md-6">
	      <ul class="list-unstyled">
		<li><i class="fa fa-check"></i> 了解开源</li>
		<li><i class="fa fa-check"></i> 爱上开源</li>
		<li><i class="fa fa-check"></i> 贡献开源</li>
	      </ul>
	    </div>
	  </div>
	  <!-- END LISTS -->
	</div>
	<!-- END INFO BLOCK -->   

	<!-- BEGIN CAROUSEL -->            
	<div class="col-md-5 front-carousel">
	  <div id="myCarousel" class="carousel slide">
	    <!-- Carousel items -->
	    <div class="carousel-inner">
	      <div class="item active">
                <img src='../metronic/assets/pages/img/index-sliders/slide1.jpg'>
		<div class="carousel-caption">
		  <p>slide1</p>
		</div>
	      </div>
	      <div class="item">
                <img src='../metronic/assets/pages/img/index-sliders/slide2.jpg'>
		<div class="carousel-caption">
		  <p>slide2</p>
		</div>
	      </div>
	      <div class="item">
                <img src='../metronic/assets/pages/img/index-sliders/slide3.jpg'>
		<div class="carousel-caption">
		  <p>slide3</p>
		</div>
	      </div>
	    </div>
	    <!-- Carousel nav -->
	    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
	      <i class="fa fa-angle-left"></i>
	    </a>
	    <a class="carousel-control right" href="#myCarousel" data-slide="next">
	      <i class="fa fa-angle-right"></i>
	    </a>
	  </div>                
	</div>
	<!-- END CAROUSEL -->
			</div>

    </div>
  </div>
  <!-- END CONTENT -->
</div>
<!-- END SIDEBAR & CONTENT -->
