---
layout: index
---
<div class="container-fluid flush-with-header">
  <div class="row margin-bottom-40 row-corporate bg-light-1">
    <div class="container">
      <div class="col-xs-8 col-sm-6 row-corporate-text-container">
	<div class="row-corporate-text">
		<h1>合肥学院开源社区</h1>
	  <h2><b class="require">HFUU Open Source Community</b></h2>
	  <h4 class="wow fadeIn">合肥学院开源社区是由合肥学院在校开源技术爱好者和<br>GNU/Linux 爱好者组成的开源技术社区，旨在传播开源<br>文化，构建开源项目，分享开源精神。</h4>
	</div>
      </div>
      <div class="col-xs-4 col-sm-6">
				<br><br>
	<img src="/metronic/assets/pages/img/frontend-slider/gnu_linux.png" style="width: 554px; height: 318px;">
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="row service-box margin-bottom-40">
      <div class="col-md-4 col-sm-4">
	<div class="service-box-heading">
	  <em><i class="fa fa-location-arrow blue wow rollIn"></i></em>
	  <span><a href="/categories/Technology">技术</a></span>
	</div>
	<p>分享时下热门的技术文章</p><br>
	  <!-- <img class="img-responsive"
	  src="/asset1.png"> -->
		<a href="https://www.hfuuosc.org/Technologies/GitHub 简易入门指南/" style=" color: #4682B4; font-size:14px;">GitHub 简易入门指南</a><br>
		<a href="https://www.hfuuosc.org/Technologies/7个示例科普 CPU cache/" style=" color: #4682B4; font-size:14px;">7个示例科普 CPU cache</a><br>
		<a href="https://www.hfuuosc.org/Technologies/Linux 开机引导和启动过程详解/" style=" color: #4682B4; font-size:14px;">Linux 开机引导和启动过程详解</a><br>
		<a href="https://www.hfuuosc.org/Technologies/如何安装配置 LNMP 环境/" style=" color: #4682B4; font-size:14px;">如何安装配置 LNMP 环境</a><br>
      </div>
      <div class="col-md-4 col-sm-4">
	<div class="service-box-heading">
	  <em><i class="fa fa-check red wow rollIn"></i></em>
	  <span><a href="https://github.com/HFUUOSC">项目</a></span>
	</div>
	<p>和志同道合的朋友们一起参与贡献开源项目</p><br>
		<a href="https://github.com/HFUUOSC" style=" color: #4682B4; font-size:14px;">github.com/HFUUOSC</a>
	  <!-- <img class="img-responsive"
	  src="/asset3.jpg"> -->
      </div>
      <div class="col-md-4 col-sm-4">
	<div class="service-box-heading">
	  <em><i class="fa fa-compress green wow rollIn"></i></em>
	  <span><a href="/categories/Activity">活动</a></span>
	</div>
	<p>参加线上线下活动，学习理论知识，动手实践。</p><br>
	<a href="/404" style=" color: #4682B4; font-size:14px;">目前还没有活动</a>
	  <!-- <img class="img-responsive"
	  src="/asset1.jpg"> -->
      </div>
    </div>
    </div>

<div class="main">
  <div class="container">
    <!-- BEGIN STEPS -->
    <div class="row margin-bottom-40 front-steps-wrapper front-steps-count-3 wow
    fadeIn">
      <div class="col-md-4 col-sm-4 front-step-col">
	<div class="front-step front-step1">
	  <h2>了解开源</h2>
	  <p>我做了一个东西，大家来用吧！</p>
	</div>
      </div>
      <div class="col-md-4 col-sm-4 front-step-col">
	<div class="front-step front-step2">
	  <h2>爱上开源</h2>
	  <p>技术是一种信仰。<a href="https://github.com/explore">逛逛 GitHub</a></p>
	</div>
      </div>
      <div class="col-md-4 col-sm-4 front-step-col">
	<div class="front-step front-step3">
	  <h2>贡献开源</h2>
	  <p>寻找一个感兴趣的开源项目，开始贡献！</p>
	</div>
      </div>
    </div>
    <!-- END STEPS -->

    <!-- BEGIN RECENT WORKS -->
    <div class="row recent-work margin-bottom-40">
      <div class="col-md-3">
	<h2 class="wow fadeIn"><a href="/projects/">近期项目&活动</a></h2>
	<p class="wow fadeIn"><br>HFUUOSC (HFUU Open Source Community)正在筹建，更多活动&项目敬请期待</p>
      </div>
      <div class="col-md-9">
	<div class="owl-carousel owl-carousel3">
	  <div class="recent-work-item">
	    <em>
	      <img src="metronic/assets/pages/img/works/img1.jpg" alt="Amazing Project" class="img-responsive">
	      <a href="https://github.com/HFUUOSC"><i class="fa fa-link"></i></a>
	      <a href="metronic/assets/pages/img/works/img1.jpg" class="fancybox-button" title="Project Name #1" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="https://github.com/HFUUOSC">
	      <strong>HFUUOSC@GitHub</strong>
	      <b>Organization on GitHub</b>
	    </a>
	  </div>
	  <div class="recent-work-item">
	    <em>
	      <img src="metronic/assets/pages/img/works/img2.jpg" alt="Amazing Project" class="img-responsive">
	      <a href="https://github.com/HFUUOSC"><i class="fa fa-link"></i></a>
	      <a href="metronic/assets/pages/img/works/img2.jpg" class="fancybox-button" title="Project Name #2" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="https://github.com/HFUUOSC">
	      <strong>Empty</strong>
	      <b>Empty</b>
	    </a>
	  </div>
	  <div class="recent-work-item">
	    <em>
	      <img src="metronic/assets/pages/img/works/img3.jpg" alt="Amazing Project" class="img-responsive">
	      <a href="https://github.com/HFUUOSC"><i class="fa fa-link"></i></a>
	      <a href="metronic/assets/pages/img/works/img3.jpg" class="fancybox-button" title="Project Name #3" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="https://github.com/HFUUOSC">
	      <strong>Empty</strong>
	      <b>Empty</b>
	    </a>
	  </div>
	  <div class="recent-work-item">
	    <em>
	      <img src="metronic/assets/pages/img/works/img4.jpg" alt="Amazing Project" class="img-responsive">
	      <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
	      <a href="metronic/assets/pages/img/works/img4.jpg" class="fancybox-button" title="Project Name #4" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="/projects/#project1">
	      <strong>Amazing Project</strong>
	      <b>Agenda corp.</b>
	    </a>
	  </div>
	  <div class="recent-work-item">
	    <em>
	      <img src="metronic/assets/pages/img/works/img5.jpg" alt="Amazing Project" class="img-responsive">
	      <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
	      <a href="metronic/assets/pages/img/works/img5.jpg" class="fancybox-button" title="Project Name #5" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="/projects/#project1">
	      <strong>Amazing Project</strong>
	      <b>Agenda corp.</b>
	    </a>
	  </div>
	  <div class="recent-work-item">
	    <em>
	      <img src="metronic/assets/pages/img/works/img6.jpg" alt="Amazing Project" class="img-responsive">
	      <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
	      <a href="metronic/assets/pages/img/works/img6.jpg" class="fancybox-button" title="Project Name #6" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="/projects/#project1">
	      <strong>Amazing Project</strong>
	      <b>Agenda corp.</b>
	    </a>
	  </div>
	  <div class="recent-work-item">
	    <em>
	      <img src="metronic/assets/pages/img/works/img3.jpg" alt="Amazing Project" class="img-responsive">
	      <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
	      <a href="metronic/assets/pages/img/works/img3.jpg" class="fancybox-button" title="Project Name #3" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="/projects/#project1">
	      <strong>Amazing Project</strong>
	      <b>Agenda corp.</b>
	    </a>
	  </div>
	  <div class="recent-work-item">
	    <em>
	      <img src="metronic/assets/pages/img/works/img4.jpg" alt="Amazing Project" class="img-responsive">
	      <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
	      <a href="metronic/assets/pages/img/works/img4.jpg" class="fancybox-button" title="Project Name #4" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="/projects/#project1">
	      <strong>Amazing Project</strong>
	      <b>Agenda corp.</b>
	    </a>
	  </div>
	</div>       
      </div>
    </div>   
    <!-- END RECENT WORKS -->

  </div>
</div>

